.btn {
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
}

.not-secret {
    background-color: chocolate;
    color: black;
    border-radius: 75%;
    border-bottom: black 2px solid;
}